.page{
	border-style: double;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	display: block;
	padding: 20px;
	letter-spacing: 1px;
	border-top: 3px solid black;
	border-bottom: 1px solid black;
	margin: -10px;
}
ul li a:hover{
	color: red;
	font-weight: bold;
}
ul{
	padding-inline-start: 0px;
}
.menu{
	width: 100%;
	text-align: center;
}
a.pagrindinis{
	color: red;
}
img.logo{
	margin-top: 30px;
	margin-bottom: 25px;
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.keys{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	font-family: calibri light;
	letter-spacing: 1px;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
